######################################
# Terraform
######################################

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars.local
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

######################################
# Terraform Lock
######################################

.terraform.lock.hcl

######################################
# IDE
######################################

.vscode/
.idea/

######################################
# Mac
######################################

.DS_Store

######################################
# Logs
######################################

*.log

######################################
# Database Backups
######################################

backups/

######################################
# Environment Files
######################################

.env

######################################
# Shell
######################################

*.swp